* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
    color: #333;
    background: #fff;
    height: 200px;
    width: 200px;
}